<div class = "col-11 about">
	<section class="about-top">
		<h1>【今日のランチ何する？】について</h1>
	</section>
	<section class="about-body">
	  <h2>サイトの概要</h2>
  		<h3>当サイトは、皆さんのランチでのオーダーを投稿共有するためのものです。</h3>
  		<h3>ぐるナビや食べログでお店は探せるが、いざ注文となると迷ってしまう方の参考になればと思ってます。</h3>
  		<h3>また自分のお気に入りのオーダーを共有したり日々の備忘にも使って頂ければと思います。</h3>
  	  <br>
  	  <br>
  	<h2>ペコについて</h2>
  		<h3>投稿する時に"ちょいペコ""ペコ""ペコMAX"の３段階でオーダーの量を登録してください。</h3>
  		<h3>ランチを探すとき、その日のお腹の減り具合で検索できるようにしてます。<br>
          またはじめから量がわかることで、食べ残しなどを防ぎフードロスの削減にもつながればと思ってます。<br>(SDGs目標12)
  		</h3>
  		<h3>・ちょいペコは、軽い軽食程度です。イメージはスタバでコーヒーとマフィンを頼む感じです。</h3>
  		<h3>・ペコは、一般的な一人前ランチの量です。イメージは、昼もやっている居酒屋の日替わりランチです。</h3>
  		<h3>・ぺこMAXは、特盛ランチの量です。イメージは、二郎系で全てマシマシの感じです。</h3>
	</section>
</div>


