<div class = "col-11 about">
	<section class="about-top">
		<h1>About</h1>
		<h3>【今日のランチ何する？】について</h3>
	</section>
	<section class="about-body">
	  <h3>サイトの概要</h3>
  		<h5>当サイトは、皆さんのランチでのオーダーを投稿共有するためのものです。</h5>
  		<h5>ぐるナビや食べログでお店は探せるが、いざ注文となると迷ってしまう方の参考になればと思ってます。</h5>
  		<h5>また自分のお気に入りのオーダーを共有したり日々の備忘にも使って頂ければと思います。</h5>
  	  <br>
  	  <br>
  		<h3>ペコについて</h3>
  		<h5>投稿する時に"ちょいペコ""ペコ""ペコMAX"の３段階でオーダーの量を登録してください。</h5>
  		<h5>ランチを探すとき、その日のお腹の減り具合で検索できるようにしてます。<br>
          またはじめから量がわかることで、食べ残しなどを防ぎフードロスの削減にもつながればと思ってます。<br>(SDGs目標12)
  		</h5>
  		<h5>・ちょいペコは、軽い軽食程度です。イメージはスタバでコーヒーとマフィンを頼む感じです。</h5>
  		<h5>・ペコは、一般的な一人前ランチの量です。イメージは、昼もやっている居酒屋の日替わりランチです。</h5>
  		<h5>・ぺこMAXは、特盛ランチの量です。イメージは、二郎系で全てマシマシの感じです。</h5>
	</section>
</div>


