
  <!--<div class = row >-->
    <div class = "col-3">
      
      
      マイページ
      いいね一覧
      <% if @mark_list.present? %>
        <% @mark_list.each do |map| %>
         <%= map.shop_name %>
        <% end %>
      <% end %>
    </div>
  <!--</div>-->
